.about__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 900px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media (min-width: 901px) {
  .about__text {
    flex: 0 0 40%;
  }

  .about__photo-container {
    flex: 1;
    margin: 0 var(--gutter-medium) 0 0;
  }
}

@media (min-width: 1000px) {
  .about__text {
    flex: 0 0 35%;
  }

  .about__photo-container {
    flex: 1;
    margin: 0 var(--gutter-huge) 0 0;
  }
}
