.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1240px) {
  .container {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 var(--gutter-normal);
  }
}
